.journaltreenode-container {
  display: flex;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.journaltreenode-container:hover {
  color: white;
  background-color: var(--secondary-accent);
}

.journaltreenode-label {
  display: flex;
}

.journaltreennode-icon {
  margin-right: 6px;
}