@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.app {
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.app-header {
  width: 100%;
  height: 32px;
  text-align: center;
  font-size: 21px;
  background-color: var(--primary);
  color: white;
  border-bottom: 1px solid var(--primary-accent);
}

.app-main {
  display: flex;
  height: calc(100vh - 33px);
  background-color: var(--background);
}

.app-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  padding-top: 10px;
  background-color: var(--secondary);
}

.app-nav-link {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.app-nav-link:hover {
  border: 1px solid var(--secondary-accent);
  border-right-width: 0px;
}